@model Car_Insurance_Project.Models.Application

@{
    ViewBag.Title = "Delete";
}

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Delete</h5>
        </div>

        <div class="card-body">
            <div class="no-gutters">
                <dl class="dl-horizontal">
                    <dt>
                        First Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt>
                        Last Name
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Age)
                    </dd>

                    <dt>
                        Email Address
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmailAddress)
                    </dd>

                    <dt>
                        Car Year
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Car_Year)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Make)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Make)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Model)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Model)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Dui)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Dui)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Tickets)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tickets)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Coverage)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Coverage)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Quote)
                    </dt>

                    <dd>
                        $@Html.DisplayFor(model => model.Quote)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back", "Index")
                    </div>
                }
      
            </div>
         </div>
    </div>
</div>