@model Car_Insurance_Project.Models.Application

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car_Year, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car_Year, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Car_Year, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Make, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Make", new List<SelectListItem>
                      {
                          new SelectListItem {Text = "Porsche"},
                          new SelectListItem {Text = "BMW"},
                          new SelectListItem {Text = "Dodge"},
                          new SelectListItem {Text = "Subaru"},
                          new SelectListItem {Text = "Honda"},
                          new SelectListItem {Text = "Toyota"},
                          new SelectListItem {Text = "Mitsubishi"},
                      }, "Select Make")
            @Html.ValidationMessageFor(model => model.Make, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Model", new List<SelectListItem>
                       {
                           new SelectListItem {Text = "911 Carrera"},
                           new SelectListItem {Text = "Taycan"},
                           new SelectListItem {Text = "i8"},
                           new SelectListItem {Text = "Series 2"},
                           new SelectListItem {Text = "Challenger"},
                           new SelectListItem {Text = "Charger"},
                           new SelectListItem {Text = "WRX"},
                           new SelectListItem {Text = "Crosstrek"},
                           new SelectListItem {Text = "Accord"},
                           new SelectListItem {Text = "Civic"},
                           new SelectListItem {Text = "Camry"},
                           new SelectListItem {Text = "Corolla"},
                           new SelectListItem {Text = "Mirage"},
                           new SelectListItem {Text = "Outlander"},
                       }, "Select Model")
            @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Dui, "Have you ever had a DUI?", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-10">
            Yes
            @Html.RadioButtonFor(model => model.Dui, "Yes")
            No
            @Html.RadioButtonFor(model => model.Dui, "No")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Coverage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            Full Coverage
            @Html.RadioButtonFor(model => model.Coverage, "Full Coverage")
            Liability
            @Html.RadioButtonFor(model => model.Coverage, "Liability")
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.Quote, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quote, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quote, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Index", "Index")
</div>
