@model Car_Insurance_Project.Models.Application

@{
    ViewBag.Title = "Quote";
}

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Quote</h5>
        </div>

        <div class="card-body">
            <div class="no-gutters">
                <dl class="dl-horizontal">
                    <dd>
                       <p>Dear, @Html.DisplayFor(model => model.FirstName)<p>
                        <p>Thank you for applying for Leo's Car insurance!</p>
                        <p>The @Html.DisplayFor(model => model.Car_Year) @Html.DisplayFor(model => model.Make) @Html.DisplayFor(model => model.Model) is a nice car!</p>
                        <p>With the information you have given us today your monthly car insurance payment is: $@Html.DisplayFor(model => model.Quote)</p>
                        <p>Thank you for choosing Leo's Car Insurance! Tell your friends.</p>
                        <p>Best, Leo</p>
                    </dd>
                </dl>
            </div>
            <p>
                @Html.ActionLink("Click here for Admin", "Admin")
            </p>
        </div>
    </div>
</div>